<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
    }


    h1 {
        color: #333;
    }

    p {
        color: #666;
        line-height: 1.6;
    }

    .highlight {
        color: tomato;
        font-weight: bold;
    }

    .otp-text {
        background-color: #e4e4e4;
        max-width: fit-content;
        color: #141414;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 1.6px;
        padding: 15px 30px;
        border-radius: 4px;
    }

    .footer {
        text-align: center;
        margin-top: 20px;
        color: #888;
    }
</style>
<header>
    <h1>
        Hello, <span class="highlight">
            <%= locals.name %>
        </span>!
    </h1>
</header>
<main>
    <p>Click this link to login</p>
    <a href="<%= locals.otp %> " class="otp-text">
        <%= locals.otp %>
    </a>
</main>
<footer>
    <p>This email was sent by lava-store AuthSystem. &copy; <%= new Date().getFullYear() %> All rights reserved.</p>
</footer>