<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LavaStore-Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="login-container">
        <h2>LavaStore Login</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="button" class="login-btn" onclick="submitForm()">Login</button>
        </form>
        <div id="responseBox" class="response-box"></div>
    </div>

    <script src="js/Login.js"></script>

</body>

</html>